[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChangePointTaylor"]
	path = ChangePointTaylor
	url = https://github.com/mmarks13/changepointtaylor
[submodule "abnormality"]
	path = abnormality
	url = https://github.com/mmarks13/abnormality
